<% set_meta_tags title: "Playcalについて", noindex: true %>
<div class="about-wrapper">
  <div class="about-main">
    <div class="about-title">
      <h1>Playcalとは</h1>
    </div>
    <div class="about-explain">
      <p>Playcalとは「ダブルスのペアや練習仲間を地域を限定してシンプルかつ、
        すばやく見つけることができ、テニスライフをより楽しくする」WEBサイトです。</p>
    </div>
    <div class="about-question">
      <h2><i>Q</i>安全に練習相手を見つけることが出来る？</h2>
      <p><i>A</i>相手と練習する時間や場所はすべてこのWEBサイト内で完結いたしますので、
        怪しい文章や不快な文であれば通報していただき、こちら側でアカウントの凍結等の処置を行います。
        また、性別や年齢等で練習相手を絞ることが出来ますので、異性との練習や歳の離れた人との練習を避けることが出来ます。
      </p>

      <h2><i>Q</i>どのようにして相手とコミュニケーションを取る？</h2>
      <p><i>A</i>Playcalでは相手とのコミュニケーションはすべてPlaycal内のチャット機能を用いて行います。
        他のSNSに誘致したりすることは禁止されています。
      </p>

      <h2><i>Q</i>サイトに不具合がある</h2>
      <p><i>A</i>申し訳ありません。<%= link_to "こちらの", new_contacts_path %>お問い合わせフォームにて症状をご報告ください。</p>
    </div>
  </div>
</div>
