<% set_meta_tags title: "Playcalについて", noindex: true %>
<div class="about-top-wrapper">
  <div class="about-top-title">
    <h1>Playcal</h1>
    <h2>テニスの練習相手やテニス仲間はここで見つかる</h2>
  </div>
  <div class="about-top-list">
    <div class="about-top-list1">
      <i class="fa fa-map-marker"></i>
      <p>あなたの近くに住んでいる人の中から練習相手やテニス友達を見つけることが出来ます。</p>
    </div>
    <div class="about-top-list2">
      <i class="fa fa-bullhorn"></i>
      <p>あなたが練習したい日や練習相手に求める技術レベルや性別を指定して募集する事が出来ます。</p>
    </div>
    <div class="about-top-list3">
      <i class="fa fa-comments-o"></i>
      <p>テニスが好きな人同士であなたの好きな選手の試合を語り合ったり、応援したり出来ます。</p>
    </div>
  </div>
</div>

<!--
<div class="tennis">
  <span id="tennis2">あなたもテニスの練習相手や仲間を探してみませんか？</span>
  <%= image_tag('playcal-ad.jpg') %>
  <span id="tennis1">テニスのマッチングサイト<span id="tennis3">「Playcal」</span></span>
</div> -->
