<%= @reciever.name %> 様

Playcalをご利用いただきありがとうございます。

<%= @reciever.name %>様の投稿に<%= @sender.name %>さんからコメントが届いております。

<p style="color: red;">※ このメールには返信せずに、ログインをしてメッセージルームから返信を行ってください。</p>

ログインしてメッセージをチェックする
