<div class="comment-mail-wrap">
  <div class="comment-mail-logo">
  </div>
  <div class="comment-mail-title">
    <p><%= @user.name %>さんの投稿に対して、いいねが届いております！</p>
  </div>
  <div class="comment-mail-link">
    <%= link_to 'ログインする', new_user_session_url %>
  </div>
</div>

</br>
</br>
</br>

<div class="mail-under">
  ------------------------------------
  <p>ホーム：https://www.playcal.jp</p>
  <p>ログイン：https://www.playcal.jp/login</p>
  ------------------------------------
</div>
