<div class="after-mail-wrapper">
  <div class="after-mail-upper">
    <h2>メールアドレスをご確認ください</h2>
    <p>ログインは<%= link_to "こちらから", new_user_session_path, :style =>"color: #5f9ea0;" %></p>
  </div>
  <div class="after-mail-under">
    <p>※迷惑メールボックスに送信されている可能性がありますので、ご確認ください</p>
  </div>

</div>
