$gray-medium-light: #919191;
$gray-medium-dark: #4c4c4c;
$gray-border-light: #cfcfcf;
$gray-word: #919191;
$green-logo-color: #9cd75b;
$pink-hightlight: #ff6666;
$pink-borderbottom: #ffd6d6;
$green-highlight: #5f9ea0;
$blue1: #3399cc;
$blue2: #f4f9ff;
$blue3: #007199;
$blue4: #82cddd;
$blue5: #d6ebff;
$blue6: #e2f1ff;
$red1: #ff6666;
$red2: #ffeaf4;
$green1: #33cc00;
$yellow: #fcc800;
$font-middle: #888888;
$font-light: #919191;
$font-dark: #2b546a;
$font-black: #404040;
$font-border-light: #cfcfcf;
$font-border-light2: #f3f3f3;
$body-color: #eceef1;
$body-color2: #fcfcfc;
$body-color3: #eceef1;
$facebook: #3B5998;
$twitter: #55acee;
