$gray-medium-light: #919191;
$gray-medium-dark: #4c4c4c;
$gray-border-light: #cfcfcf;
$gray-word: #919191;
$green-logo-color: #9cd75b;
$pink-hightlight: #ff6666;
$pink-borderbottom: #ffd6d6;
$green-highlight: #5f9ea0;
$body-color: #f7f7f7;
