@import 'colors';
@import 'mixin';
@import 'style';


// PC========================================================
@media screen and (min-width: 768px) {
  // ログイン前(PC)=================================
  .top-wrapper {
    padding-bottom: 35px;
    .top-section {
      position: relative;
      background-color: rgba(0,0,0,0.5);
      border-radius: 0 0 20px 20px / 0 0 20px 20px;
      display: inline-block;
      margin-bottom: 30px;
      h1 {
        position: absolute;
        color: white;
        font-size: 70px;
        font-weight: 900;
        left: 8%;
        top: 15%;
        color: #fff;
        font-family: 'Arial Black','Arial Black',sans-serif;
      }
      h2 {
        position: absolute;
        color: white;
        font-size: 30px;
        font-weight: 600;
        left: 12%;
        top: 40%;
      }
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        opacity: 0.6;
        display: block;
        border-radius: 0 0 20px 20px / 0 0 20px 20px;
      }
    }
    #top-signup-botton {
      @include button(auto, $green-logo-color, 10px 34px 10px 34px);
      position: absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      color: #fff;
      font-size: 25px;
      &:hover {
        background: #fff;
        color: $green-logo-color;
      }
    }
  }

  .top-news {
      position: relative;
      margin: 30px auto;
      padding: 1.6em 1em;
      border: solid 3px $pink-borderbottom;
      border-radius: 8px;
      width: 90%;
      background: #fff;
      p {
        font-size: 1.5rem;
        color: $gray-medium-dark;
        margin: 0;
        padding: 0;
      }
      .top-news-title {
          position: absolute;
          display: inline-block;
          top: -13px;
          left: 10px;
          padding: 0 9px;
          line-height: 1;
          font-size: 19px;
          background: $body-color;
          color: $pink-borderbottom;
          font-weight: bold;
      }
    }
    .top-news1{
        position: relative;
        margin: 30px auto;
        padding: 1.6em 1em;
        border: solid 3px $pink-borderbottom;
        border-radius: 8px;
        width: 90%;
        background: #fff;
        p {
          font-size: 1.5rem;
          color: $gray-medium-dark;
          margin: 0;
          padding: 0;
        }
        .top-news-title {
            position: absolute;
            display: inline-block;
            top: -13px;
            left: 10px;
            padding: 0 9px;
            line-height: 1;
            font-size: 19px;
            background: $body-color;
            color: $pink-borderbottom;
            border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
            font-weight: bold;
        }
      }

  .top-post-title {
    width: 400px;
    margin: 30px auto;
    position: relative;
    padding: 2em 0.7em;
    background: $pink-borderbottom;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    h2 {
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      letter-spacing: 1.2px;
      margin: 0;
      padding: 0;
    }
    p {
      width: 200px;
      margin-left:  100px;
      margin-top: 20px;
      color: $gray-medium-light;

    }
    .fa {
      margin-right: 10px;
    }
    &:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 30px;
      border: 15px solid transparent;
      border-top: 15px solid $pink-borderbottom;
      width: 0;
      height: 0;
    }
  }

  .top-description {
    text-align: center;
    margin: 140px 0 140px 0;
    h2 {
      text-align: left;
      width: 350px;
      margin: 0 auto;
      font-size: 4rem;
      font-weight: 600;
      color: $gray-medium-dark;
      margin-bottom: 18px;
    }
     p {
       width: 85%;
       text-align: center;
       margin: 0 auto;
       font-size: 1.8rem;
       color: $gray-medium-light;
       margin-bottom: 40px;
       letter-spacing: 0.07em;
     }
     .fa {
       margin-right: 40px;
     }
  }

  @media screen and (max-width: 1023px) {
  .top-under {
    display: flex;
    flex-direction: column;
    width: 728px;
    margin: 40px auto;
    background-color: #fff;
   }
   .top-under-sub {
     border-top: 1px dotted $gray-border-light;
     border-bottom: 1px dotted $gray-border-light;
     margin-top: 40px;
     margin-left: 10px;
     padding-top: 10px;
     width: 480px;
     height: 288px;
     color: $gray-medium-light;
     font-size: 15px;
   }
  }

  @media screen and (min-width: 1024px) {
  .top-under {
    display: flex;
    margin: 40px auto;
    width: 1000px;
    background-color: #fff;
   }
   .top-under-sub {
     border-top: 1px dotted $gray-border-light;
     border-bottom: 1px dotted $gray-border-light;
     margin-top: 90px;
     margin-left: 10px;
     padding-top: 10px;
     width: 480px;
     height: 288px;
     color: $gray-medium-light;
     font-size: 15px;
     display: flex;
     flex-direction: column;
   }
  }


  .top-under-main {
    h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
      color: $gray-medium-dark;
    }
    img {
      width: 480px;
      border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    }
  }
  .top-under-find {
    margin: 30px auto;
    p {
      display: inline-block;
      font-weight: 600;
      color: #fff;
      text-align: center;
      font-size: 1.5rem;
      padding: 5px 10px 5px 10px;
      @include button(140px, #fff, 10px 15px 10px 15px);
      background: #ff9966;
      background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
      background: linear-gradient(to right, #ff5e62, #ff9966);
    }
  }

  #will_paginate1 {
    margin-left: 400px;
  }

  // ログイン後（PC）==============================

  .home-user-prefecture {
    width: 330px;
    margin: 50px auto;
    position: relative;
    padding: 2em 0.7em;
    background: $pink-borderbottom;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    h1 {
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      letter-spacing: 1.4px;
      line-height: 30px;
    }
    &:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 30px;
      border: 15px solid transparent;
      border-top: 15px solid $pink-borderbottom;
      width: 0;
      height: 0;
    }
  }

  .home-section {
    margin: 70px auto;
    background: #fff;
    padding-bottom: 30px;
    .home-section-1 {
      position: relative;
      h2 {
        position: absolute;
        color: white;
        line-height: 1.5;
        font-size: 4rem;
        font-weight: 600;
        left: 14%;
        top: 10%;
      }
      p {
        width: 90%;
        color: $gray-medium-dark;
        margin: 10px auto;
        font-size: 1.5rem;
        text-align: left;
      }
      img {

      }
    }
    .home-section-2 {
      position: relative;
      margin-top: 60px;
      h2 {
        position: absolute;
        color: white;
        line-height: 1.5;
        font-size: 4rem;
        font-weight: 600;
        left: 18%;
        top: 50%;
      }
      p {
        width: 90%;
        color: $gray-medium-dark;
        margin: 10px auto;
        font-size: 1.5rem;
        text-align: left;
      }
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 0%;
      border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    }
  }

  .home-section-link1 {
    width: 120px;
    margin: 30px auto;
    p {
      @include button(120px, #fff, 10px 15px 10px 15px);
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      background: #ff9966;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
      background: linear-gradient(to right, #ff5e62, #ff9966);
      &:hover {
        opacity: 0.8;
      }
   }
  }
  .home-section-link2 {
    width: 120px;
    margin: 30px auto;
    p {
      @include button(120px, #fff, 10px 15px 10px 15px);
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      background: #1e3c72;
      background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
      background: linear-gradient(to right, #2a5298, #1e3c72);
      &:hover {
        opacity: 0.8;
      }
   }
  }
}

// スマホ======================================================

// ログイン前(スマホ)==================================

@media screen and (max-width: 767px) {

  .top-wrapper {
    padding-bottom: 35px;
    .top-section {
      background: #B9E682;
      background: -webkit-linear-gradient(to left, #77bb58, #B9E682);
      background: linear-gradient(to left, #77bb58, #B9E682);
      height: 500px;
      width: 100%;
      margin-bottom: 30px;
      h1 {
        font-family: 'Arial Black','Arial Black',sans-serif;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 0.06em;
        margin-top: 0;
        padding-top: 20px;
      }
      h2 {
        color: #fff;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 60px;
      }
      .home-register-button {
        background-color: #fff;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 260px;
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
        box-shadow: 2px 5px 10px rgba(0,0,0,0.25);
      }
      .home-facebook {
        @include facebook(250px);
        margin-top: 0;
        margin: 10px 0 10px 0;
      }
      .home-google {
        @include google(250px);
        margin-bottom: 0;
        margin: 10px 0 10px 0;
        p {
          margin: 10px auto;
        }
      }
      .home-email {
        @include google(250px);
        margin-bottom: 0;
        margin: 10px 0 10px 0;
        p {
          margin: 10px auto;
          background-color: $green-logo-color;
        }
      }
    }
  }

  .top-new-wrap {
    background: #fff;
    padding: 30px 0;
  }

  .top-news {
      position: relative;
      margin: 0px auto;
      padding: 1.2em 1em;
      border: solid 3px $green-highlight;
      border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
      width: 90%;
      p {
        font-size: 1.5rem;
        color: $gray-medium-dark;
        margin: 0;
        padding: 0;
      }
      .top-news-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #fff;
        color: $green-highlight;
        font-weight: bold;
      }
    }

    .top-news1 {
        position: relative;
        margin: 30px auto;
        padding: 1.2em 1em;
        border: solid 3px $green-highlight;
        border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
        width: 90%;
        p {
          font-size: 1.5rem;
          color: $green-highlight;
          margin: 0;
          padding: 0;
        }
        .top-news-title {
          position: absolute;
          display: inline-block;
          top: -13px;
          left: 10px;
          padding: 0 9px;
          line-height: 1;
          font-size: 19px;
          background: $body-color;
          color: $green-highlight;
          font-weight: bold;
        }
      }

  .top-post-title {
    width: 300px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    padding: 1.6em 0.7em;
    border: 2px solid $green-highlight;
    background: #fff;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    h2 {
      text-align: center;
      font-weight: 600;
      margin: 0;
      color: $green-highlight;
      font-size: 2rem;
      letter-spacing: 1.2px;
    }
    .fa {
      margin-right: 10px;
    }
    p {
      width: 250px;
      margin: 0 auto;
      font-size: 1rem;
      margin-top: 20px;
      text-align: center;
      color: $green-highlight;
      padding: 0;
    }
  }

  .top-description {
    text-align: center;
    margin: 100px 0 100px 0;
    h2 {
      text-align: left;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      color: $gray-medium-dark;
      margin-bottom: 15px;
    }
     p {
       width: 85%;
       text-align: left;
       margin: 0 auto;
       color: $gray-medium-light;
       margin-bottom: 25px;
       letter-spacing: 0.07em;
     }
     .fa {
       margin-right: 20px;
     }
  }

  .top-under {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    border-bottom: 1px dotted $gray-border-light;
    padding: 40px 0 60px 0;
    background: #fff;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
    margin-bottom: 20px;
   }

   .top-under-sub {
     border-top: 1px dotted $gray-border-light;
     margin-top: 40px;
     margin-left: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 90%;
     color: $gray-medium-light;
     font-size: 15px;
   }


  .top-under-main {
    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 30px;
      color: $gray-medium-dark;
    }
    img {
      width: 90%;
      margin: 0 auto;
      display: block;
      border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    }
  }

  .top-under-find {
    margin: 30px auto;
    p {
      display: inline-block;
      font-weight: 600;
      color: #fff;
      text-align: center;
      font-size: 1.5rem;
      padding: 5px 10px 5px 10px;
      @include button(140px, #fff, 10px 15px 10px 15px);
      background: #ff9966;
      background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
      background: linear-gradient(to right, #ff5e62, #ff9966);
    }
  }
  #will_paginate1 {
    margin-left: 80px;
  }
  // ログイン後の画面(スマホ)===========================

.sample-wrap {
  border-top: 1px solid $gray-border-light;
  padding: 40px 20px 0 20px;
}

    .home-user-prefecture {
      width: 230px;
      margin: 30px auto;
      position: relative;
      padding: 1em 0.7em;
      background: #fff;
      border: 2px solid $green-highlight;
      font-weight: bold;
      border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
      h1 {
        text-align: center;
        font-weight: 600;
        color: $green-highlight;
        font-size: 1.6rem;
        letter-spacing: 1.4px;
        line-height: 30px;
        margin: 0;
      }
   }

   .home-section {
     margin: 70px auto;
     background: #fff;
     padding-bottom: 20px;
     .home-section-1 {
       position: relative;
       h2 {
         position: absolute;
         color: white;
         line-height: 1.5;
         font-size: 4rem;
         font-weight: 600;
         left: 14%;
         top: 10%;
       }
       p {
         width: 90%;
         color: $gray-medium-dark;
         margin: 10px auto;
         font-size: 1.5rem;
         text-align: left;
       }
     }
     .home-section-2 {
       position: relative;
       margin-top: 60px;
       h2 {
         position: absolute;
         color: white;
         line-height: 1.5;
         font-size: 4rem;
         font-weight: 600;
         left: 70%;
         top: 50%;
       }
       p {
         width: 90%;
         color: $gray-medium-dark;
         margin: 10px auto;
         font-size: 1.5rem;
         text-align: left;
       }
     }
     img {
       width: 100%;
       height: 250px;
       object-fit: cover;
       border-radius: 0%;
     }
   }


   .home-section-link1 {
     width: 120px;
     margin: 30px auto;
     p {
       @include button(120px, #fff, 5px 10px 5px 10px);
       text-align: center;
       font-weight: 600;
       color: #fff;
       font-size: 2rem;
       background: #ff9966;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
       background: linear-gradient(to right, #ff5e62, #ff9966);
       &:hover {
         opacity: 0.8;
       }
    }
   }
   .home-section-link2 {
     width: 120px;
     margin: 30px auto;
     p {
       @include button(120px, #fff, 5px 10px 5px 10px);
       text-align: center;
       font-weight: 600;
       color: #fff;
       font-size: 2rem;
       background: #1e3c72;
       background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
       background: linear-gradient(to right, #2a5298, #1e3c72);
       &:hover {
         opacity: 0.8;
       }
    }
   }

 }
