// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'mixin';
@import 'style';

.nonlike, .like {
  text-align: right;
  .fa {
    font-size: 1.7rem;
  }
  span {
    font-size: 1.5rem;
    color: $gray-medium-dark;
  }
}

.like {
  .fa {
    color: $gray-medium-light;
    font-weight: 600;
    opacity: 0.8;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
    cursor: pointer;
   &:active {
     -webkit-transform: scale(2.5);
     -moz-transform: scale(2.5);
     -o-transform: scale(2.5);
     -ms-transform: scale(2.5);
     transform: scale(2.5);
   }
  }
}

.nonlike {
  .fa {
    color: #e2041b;
    opacity: 0.8;
    cursor: pointer;
  }
}

.like-wrap {
  @include mediaPC {
    padding-top: 40px;
    background: $body-color;
    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: $gray-medium-dark;
      text-align: center;
      margin: 40px 0 40px 0;
    }
    .find-post1 {
      background: #fff;
    }
  }
  @include mediaSP {
    background: $body-color;
    padding-top: 40px;
    h1 {
      font-size: 1.6rem;
      font-weight: bold;
      color: $gray-medium-dark;
      text-align: center;
      margin: 40px 0 40px 0;
    }
    .find-post1 {
      background: #fff;
    }
  }
}
