@import 'colors';
@import 'mixin';

@media screen and (min-width: 768px) {
  // login(PC)============================
  .login-wrapper {
    background: $body-color;
    #login-playcal {
      font-weight: 600;
      color: $gray-medium-dark;
      width: 200px;
      text-align: center;
      margin: 40px auto;
      margin-bottom: 0;
      font-size: 2.5rem;
    }
    .login-main {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      width: 400px;
      margin: 5% auto;
      background: #fff;
      padding: 50px 20px 50px 20px;
      h1 {
        font-size: 18px;
        font-weight: 600;
        color: $gray-medium-dark;
        text-align: center;
        margin: 40px 0px 40px 0px;
      }
      h3 {
        width: 80%;
        margin: 30px auto;
        text-align: center;
        color: #e8383d;
        font-size: 13px;
      }
      .login-form {
        width: 300px;
      }
      #user_email, #user_password {
        width: 300px;
        margin: 0 auto;
        height: 50px;
        font-size: 1.5rem;
        font-family: FontAwesome;
      }
      .login-check {
        width: 300px;
      }
      .checkbox {
        label {
          margin-left: 40px;
        }
      }
      .facebook-signup {
        @include facebook(300px)
      }
      .google-signup {
        @include google(300px)
      }
      #login-submit {
        font-size: 1.5rem;
      }
      input#login-submit {
        @include button(300px, $green-logo-color, 10px 15px 10px 15px);
        margin: 30px auto;
        display: block;
        &:hover {
          opacity: 0.8;
        }
      }
      .login-under {
       margin-left: 10%;
       width: 300px;
       #login-under-signup {
         color: $green-highlight;
       }
     }
    }
  }

  #error_explanation {
    width: 350px;
    margin: 30px auto;
  ul li {
    list-style: none;
    margin-top: 5px;
    color: red;
   }
  }
  // register(pc)=========================

  .new-wrapper {
    background: $body-color;
    .user-new-main {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      width: 400px;
      margin: 10% auto;
      background: #fff;
      padding: 50px 20px 50px 20px;
      .user-new-title {
      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $gray-medium-dark;
        text-align: center;
        margin: 40px 0px 40px 0px;
      }
      h2 {
        width: 80%;
        margin: 30px auto;
        text-align: center;
        color: $gray-medium-dark;
        font-size: 13px;
      }
    }
    label {
      margin: 10px 0 0 30px;
      font-weight: 500;
      font-size: 1rem;
    }
      #new-form {
        width: 300px;
        margin: 5px auto;
        height: 50px;
        font-size: 1.5rem;
        margin: 0 auto;
        font-family: FontAwesome;
        -webkit-appearance: none;
      }
      .facebook-signup {
        @include facebook(300px)
      }
      .google-signup {
        @include google(300px)
      }
      #new-submit {
        font-size: 1.5rem;
      }
      input#new-submit {
        margin: 30px auto;
        display: block;
        @include button(300px, $green-logo-color, 10px 15px 10px 15px);
        &:hover {
          opacity: 0.8;
        }
      }
      .new-under {
       margin-left: 10%;
       width: 300px;
       #login-under-signup {
         color: $green-highlight;
       }
     }
    }
  }


  // edit(PC)============================================

  .edit-user-wrapper {
    .edit-user-main {
      small {
        margin-left: 10px;
        font-size: 12px;
      }
      i {
        border: 1px solid red;
        padding: 5px;
        font-size: 10px;
        color: red;
        margin-left: 10px;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
      }
    }
    .edit-user-title {
      text-align: center;
      margin: 50px 0 30px 0;
      h1 {
        font-weight: 500;
        font-size: 20px;
        color: $gray-medium-dark;
      }
    }
    .edit-user-title-after {
      margin: 40px;
      h1 {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        color: $green-logo-color;
        font-size: 4rem;
        font-weight: 600;
      }
      p {
        margin: 20px auto;
        width: 75%;
        color: $gray-medium-dark;
        font-size: 1.5rem;
        text-align: left;
      }
    }
    .edit-user-after-alert {
      width:80%;
      margin: 0 auto;
      h3 {
        text-align: center;
        color: $pink-hightlight;
        font-size: 1.5rem;
      }
    }
  }

  .picture-edit, .name-edit, .birth-edit, .email-edit, .prefecture-edit,
   .skill-edit {
    @include edit_form(400px)
  }

  .picture-edit {
    p {
      margin: 20px auto;
      width: 200px;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 5%;
      object-fit: cover;
    }
    .form-group {
      width: 200px;
      margin: 20px auto;
    }
    label {
      margin-top: 0;
    }
    .btn {
      height: 34px;
      background: $gray-border-light;
      border: none;
      i {
        padding-top: 2px;
        color: #fff;
        border: #fff;
        font-size: 2rem;
        margin-bottom: 7px;
      }
    }
}
  .introduction-edit {
    #edit-form {
      height: 200px;
    }
    @include edit_form(400px)
  }

  input#edit-submit {
    display: block;
    margin: 40px auto;
    width: 400px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px $green-logo-color;
    border: none;
    background-color: $green-logo-color;
    &:active {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-bottom: none;
    }
  }

  input#edit-form:focus, select#edit-form:focus, textarea#edit-form:focus {
    outline: 2px solid $green-logo-color;
  }


  .like-wrapper {
    margin-top: 40px;
    h2 {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 60px;
      color: $gray-medium-dark;
      margin-left: 200px;
    }
    .fa {
      margin-right: 10px;
      color: #ffe259;
    }
  }
}


// スマホ==================================================

@media screen and (max-width: 767px) {
  .login-wrapper {
    background: $body-color;
    #login-playcal {
      font-weight: 600;
      color: $gray-medium-dark;
      width: 200px;
      text-align: center;
      margin: 40px auto;
      margin-bottom: 0;
      font-size: 2.5rem;
    }
    .login-main {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 10% auto;
      background: #fff;
      padding: 50px 0px 50px 0px;
      h1 {
        font-size: 18px;
        font-weight: 600;
        color: $gray-medium-dark;
        text-align: center;
        margin: 20px 0px 40px 0px;
      }
      h3 {
        width: 80%;
        margin: 30px auto;
        text-align: center;
        color: #e8383d;
        font-size: 13px;
      }
      .login-mail {
        margin: 10px 0 10px 0;
        .checkbox {
          width: 300px;
          margin: 0 auto;
        }
      }
      .login-form {
        width: 300px;
      }
      #user_email, #user_password {
        width: 300px;
        height: 50px;
        font-size: 1.5rem;
        margin: 0 auto;
        font-family: FontAwesome;
        -webkit-appearance: none;
      }
      .login-check {
        width: 300px;
      }
      .facebook-signup {
        @include facebook(300px)
      }
      .google-signup {
        @include google(300px)
      }
      #login-submit {
        font-size: 1.5rem;
        font-weight: bold;
      }
      input#login-submit {
        @include button(300px, $green-logo-color, 10px 15px 10px 15px);
        margin: 30px auto;
        display: block;
      }
      .login-under {
        margin-left: 20px;
       width: 250px;
       #login-under-signup {
         color: $green-highlight;
       }
     }
    }
  }

  // register(iphone)=======================

  .new-wrapper {
    background: $body-color;
    .user-new-main {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 10% auto;
      background: #fff;
      padding: 10px 20px 50px 20px;
      .user-new-title {
      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $gray-medium-dark;
        text-align: center;
        margin: 40px 0px 40px 0px;
      }
      h2 {
        width: 80%;
        margin: 30px auto;
        text-align: center;
        color: $gray-medium-dark;
        font-size: 13px;
      }
    }
    label {
      margin: 10px 0 0 30px;
      font-weight: 500;
      font-size: 1rem;
    }
      #new-form {
        width: 300px;
        margin: 5px auto;
        height: 50px;
        font-size: 1.5rem;
        margin: 0 auto;
        font-family: FontAwesome;
        -webkit-appearance: none;
      }
      .facebook-signup {
        @include facebook(300px)
      }
      .google-signup {
        @include google(300px)
      }
      #new-submit {
        font-size: 1.5rem;
        font-weight: bold;
      }
      input#new-submit {
        @include button(300px, $green-logo-color, 10px 15px 10px 15px);
        margin: 30px auto;
        display: block;
        &:hover {
          opacity: 0.8;
        }
      }
      .new-under {
       width: 300px;
       #login-under-signup {
         color: $green-highlight;
       }
     }
    }
  }

  .form-control {
    box-shadow: none;
  }
  // edit(スマホ)=========================================
  .edit-user-wrapper {
    .edit-user-main {
      small {
        margin-left: 10px;
        font-size: 12px;
      }
      i {
        border: 1px solid red;
        padding: 5px;
        font-size: 10px;
        color: red;
        margin-left: 10px;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
      }
    }
    .edit-user-title {
      text-align: center;
      margin: 50px 0 30px 0;
      h1 {
        font-weight: 500;
        font-size: 2rem;
        color: $gray-medium-dark;
      }
    }
    .edit-user-title-after {
      margin: 40px;
      h1 {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        color: $green-logo-color;
        font-size: 2rem;
        font-weight: 600;
      }
      p {
        margin: 20px auto;
        width: 75%;
        color: $gray-medium-dark;
        font-size: 1.5rem;
        text-align: left;
      }
    }
    .edit-user-after-alert {
      width: 80%;
      margin: 0 auto;
      h3 {
        text-align: center;
        color: $pink-hightlight;
        font-size: 1.5rem;
      }
    }
  }

  #error_explanation {
    width: 300px;
    margin: 30px auto;
  ul li {
    list-style: none;
    margin-top: 5px;
    color: red;
   }
  }

  .alert-danger {
    width: 90%;
    margin: 0 auto;
  }

  .picture-edit, .name-edit, .birth-edit, .email-edit, .prefecture-edit,
   .skill-edit {
    @include edit_form(300px)
  }

  .picture-edit {
    p {
      width: 200px;
      margin: 0px auto;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 60%;
      object-fit: cover;
    }
    .form-group {
      width: 200px;
      margin: 20px auto;
    }
    label {
      margin-top: 0;
    }
    .btn {
      height: 34px;
      background: $gray-border-light;
      border: none;
      i {
        padding-top: 2px;
        color: #fff;
        border: #fff;
        font-size: 2rem;
        margin-bottom: 7px;
      }
    }
  }

  .introduction-edit {
    #edit-form {
      height: 200px;
      -webkit-appearance: none;
    }
    @include edit_form(300px)
  }

  input#edit-submit {
    @include button(300px, $green-logo-color, 10px 15px 10px 15px);
    display: block;
    margin: 40px auto;
}

  #edit-submit {
    font-weight: bold;
  }

  input#edit-form:focus, select#edit-form:focus, textarea#edit-form:focus {
    outline: 2px solid $green-logo-color;
  }


  .like-wrapper {
    margin-top: 40px;
    h2 {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 60px;
      color: $gray-medium-dark;
      margin-left: 200px;
    }
    .fa {
      margin-right: 10px;
      color: #ffe259;
    }
  }
}
