@mixin facebook($width) {
  margin-top: 40px;
  text-align: center;
  p {
    width: $width;
    margin: 10px auto;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #305097;
    padding: 10px 15px 10px 15px;
    border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
    &:hover {
      opacity: 0.8;
    }
  }
  .fa {
    color: #fff;
    margin-right: 10px;
    font-size: 1.5rem;
    border: none;
  }
}

@mixin google($width) {
    margin-bottom: 50px;
    text-align: center;
    p {
      width: $width;
      margin: 20px auto;
      color: #fff;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: #DD5144;
      padding: 10px 15px 10px 15px;
      border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
      &:hover {
        opacity: 0.8;
      }
    }
    .fa {
      color: #fff;
      margin-right: 10px;
      font-size: 1.5rem;
      border: none;
    }
}

@mixin edit_form($width) {
    width: $width;
    margin: 0 auto;
    label {
      margin-top: 30px;
      margin-bottom: 10px;
      color: $gray-medium-dark;
      font-size: 13px;
    }
    #edit-form {
      width: $width;
      -webkit-appearance: none;
    }
    p {
      color: $gray-medium-light;
      font-size: 13px;
    }
    .fa {
      margin-right: 10px;
    }
}

@mixin button($width, $bg, $pd) {
  border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
  width: $width;
  background-color: $bg;
  border: none;
  cursor: pointer;
  padding: $pd;
}
