// Place all the styles related to the Normals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'colors';
@import 'mixin';



html,body{margin:0;padding:0;}

@media screen and (max-width: 1024px) {
  body {
    padding-top: 60px;
    background-color: #fff;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    margin: 0 auto;
    padding-top: 73px;
    background-color: #fff;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: #535353;
    text-decoration: none;
  }
  &:link {
    color: #535353;
    text-decoration: none;
  }
  &:hover {
    opacity: 0.8;
  }
}

p, h1, h2, h3, span {
  letter-spacing: 0.05em;
  line-height: 1.5;
}

textarea {
  resize: none
}

.alert .alert-danger {
  background-color: gray;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #ff6347;
  }
}

.close-cross, .close-modal2 {
  text-align: right;
  margin: 10px 5px 0 0;
}

#will_paginate {
  margin: 0 auto;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: $green-logo-color;
    border-color: $green-logo-color;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: $green-highlight;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
// タブレット、PC用画面==================================================================

@media screen and (min-width: 768px) {

/* ヘッダー(タブレット,PC用) ===============================*/

header {
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular', sans-serif;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  height: 70px;
}

#header-home {
  color: #666666;
}

.logo {
  font-family: 'Courier';
  float: left;
  margin-top: 13px;
  margin-right: 10px;
  font-size: 33px;
  color: $green-logo-color;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;
 }


.navbar-fixed-top {
 background-color: #fff;
 border-bottom: 1px solid #dcdcdc;
 top: 0;
 right:0;
 left: 0;
 z-index: 1030;
 margin-bottom: 0;
}

.header-picture {
  width: 30px;
  height: 30px;
  border-radius: 60%;

}

.header-name {
  margin-right: 20px;
  #header-name {
   color: #666666;
  }
}


#header-name:hover, #header-home:hover, #header-message:hover {
      border-bottom: 2px solid $pink-borderbottom;
}

#signin-pop {
  cursor: pointer;
  margin-bottom: 200px;
}

.dropdown {
  margin-bottom: 30px;
 }
 .nonloggedin-right li {
     font-weight: 600;
     color: #666666;
     float: left;
     list-style: none;
     margin-left: 20px;
     margin-top: 25px;
     line-height: 35px;
     font-size: 14px;
 }
 .dropdown-menu {
   width: 270px;
   p {
     font-size: 12px;
     width: 240px;
     margin-top: 20px;
     margin-left: 30px;
   }
   .divider {
     width: 270px;
   }
 }
.down-color {
  color: #666666;
}


/* フッター(タブレット、PC用画面)=================================== */
footer {
  position: relative;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #dcdcdc;
  color: #666666;
  background-color:#fff;
  bottom: 0;
  a {
    color: white;
    font-weight: 300;
  }

  a:hover {
    color: #222;
  }

  .footer-under {
    display: flex;
    margin-top: 40px;
    margin-left: 8%;
    #footer-logo {
      margin-right: 20%;
    }
    #footer-logo1, #footer-logo2, #footer-logo3 {
      width: 150px;
    }
    p {
      margin-right: 20px;
    }
  }
}

// about(PC,タブレット)=============================
.about-top-wrapper {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  padding-bottom: 50px;
  .about-top-title {
    margin-top: 50px;
    h1 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-size: 5rem;
      font-weight: 600;
    }
    h2 {
      font-size: 1.5rem;
      color: #fff;
      margin: 10px auto;
      text-align: center;
    }
  }
  .about-top-list {
    display: flex;
    .about-top-list1 {
      margin-top: 80px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
    .about-top-list2 {
      margin-top: 80px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
    .about-top-list3 {
      margin-top: 80px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
 }
}

// メール送信後パーシャル(PC, タブレット)======================

.mail-confirm-wrapper {
  margin: 40px 0 40px 0;
  .mail-confirm-title {
    width: 90%;
    margin: 0 auto;
    h1 {
      color: $green-highlight;
      font-weight: 600;
      font-size: 2rem;
    }
    h2 {
      color: $green-highlight;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
    .mail-confirm-sub {
      width: 90%;
      margin: 40px auto;
      p {
      color: $gray-medium-dark;
      font-size: 1.3rem;
    }
  }
  .mail-confirm-resend {
    width: 90%;
    margin: 40px auto;
    p {
      color: $gray-medium-dark;
      font-size:  1.5rem;
    }
    #login-under-signup {
      color: $green-highlight;
      font-size: 1.4rem;
    }
  }
}


// メール送信(PC、タブレット)==========================
.email-sent-main {
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: $gray-medium-dark;
    text-align: center;
    margin: 40px 0px 40px 0px;
  }
  .email {
    width: 500px;
    margin: 0 auto;
  }
    input#email-submit {
      margin: 30px auto;
      width: 500px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
      border-bottom: solid 3px #56ab2f;
      display: block;
    }
    input#email-submit:active {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      border-bottom: none;
    }

    p {
      color: $gray-medium-light;
      font-size: 14px;
      width: 500px;
      text-align: left;
      margin: 30px auto;
    }
    .fa {
      margin-right: 10px;
    }
  }


.link-info {
  margin-left: 10px;
  font-size: 12px;
  width: 250px;
  p {
    margin-top: 10px;
    color: $green-highlight;
  }
  .fa {
    margin-right: 10px;
  }
}

.side-links-info {
  margin-top: 50px;
  border-right: 1px solid $gray-border-light;
}

// お問い合わせフォーム(PC、タブレット)==========================
.inquiry-main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;
}

.inquiry-title h1 {
  margin-top: 40px;
  font-weight: 600;
  color: $gray-medium-dark;
}

.name-inquiry, .email-inquiry, .text-inquiry {
  margin: 40px auto;
  #inquiry-form {
    width: 60%;
  }
  #inquiry-form1 {
    height: 200px;
    width: 60%;
  }
}

#inquiry-submit {
  width: 40%;
  margin-left: 60px;
}

.inquiry-confirm {
  padding-bottom: 35px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $green-highlight;
    text-align: center;
  }
  p {
    font-size: 15px;
    font-weight: 500;
    color: $gray-medium-dark;
    text-align: center;
  }
}

.setting {
  margin-bottom: 50px;
  .setting-title {
    text-align: center;
    h2 {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 600;
      color: $gray-medium-dark;
    }
  }

    .setting-list {
      border: 1px solid $gray-border-light;
      border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
      padding: 10px;
      padding-top: 20px;
      width: 570px;
      margin: 0 auto;
      p {

        margin-left: 20px;
        margin-bottom: 20px;
        padding-bottom: 5px;
        color: $gray-medium-dark;
        border-bottom: 1px solid $gray-border-light;
      }
      .fa {
        margin-right: 15px;
      }
    }
}


}


// スマホ画面用==========================================================================



@media screen and (max-width: 767px) {

 // ヘッダー(スマホ)==============================

 header {
   font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular', sans-serif;
   height: 60px;
 }

 #header-home {
   color: #666666;
 }

 a#logo:active {
   color: #99ff66;
 }

 .navbar-fixed-top {
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  top: 0;
  right:0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
 }
 .logo {
   font-family: 'Courier';
   float: left;
   margin-top: 15px;
   margin-right: 10px;
   font-size: 2rem;
   color: $green-logo-color;
   letter-spacing: -1px;
   padding-top: 4px;
   font-weight: bold;
  }

 ul .navbar-right {
   margin: 0;
 }

 .header-picture {
   width: 30px;
   height: 30px;
   border-radius: 60%;

 }

 .header-name {
   margin-right: 20px;
   #header-name {
    color: #666666;
   }
 }


 #header-name:hover, #header-home:hover, #header-message:hover {
       border-bottom: 2px solid $pink-borderbottom;
 }

 #signin-pop {
   cursor: pointer;
   margin-bottom: 200px;
 }

 .header-scr {
   background: transparent;
 }

 .header-scr2 {
   background: #B9E682;
   background: -webkit-linear-gradient(to left, #77bb58, #B9E682);
   background: linear-gradient(to left, #77bb58, #B9E682);
   border-bottom: none;
 }

 .header-scr3 {
   color: $gray-medium-dark;
 }

 // ヘッダードロップダウン=(スマホ)===============

 .smartphone-dropdown {
   text-align: right;
   margin-right: 30px;
   margin-top: 10px;
   .dropdown-hamberger {
     margin-top: 5px;
     font-size: 23px;
     color: $gray-medium-dark;
   }
 }

 #dropdown-fontawesome:active {
   color: $gray-medium-light;
 }

 .nonloggedin-right {
   height: 40px;
 }



 // ドロップダウンモーダル(スマホ)==============


 .dropdown-modal-wrapper {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 100;
   display: none;
 }

 .dropdown-modal-upper {
   display: flex;
   justify-content: space-between;
   .dropdown-logo {
     padding: 10px 0 0 20px;
     margin-top: 10px;
     transform: rotate(-45deg);
   span {
     font-size: 4rem;
     font-weight: 900;
     color: $green-logo-color; /* fallback for old browsers */
   }
  }
 }

 .dropdown-modal {
   position: absolute;
   top: 0%;
   width: 100%;
   height: 100%;
   border-radius: 0px;
   padding-right: 10px;
   text-align: center;
   z-index: 10 !important;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
   overflow-y: auto !important;
   overflow-x: hidden !important;
   white-space: normal !important;
   background: rgb(255, 255, 255) !important;
   border-width: 1px !important;
   border-style: solid !important;
   border-color: #f5f5f5;
   border-image: initial !important;
   border-radius: 4px !important;
   .close-modal {
     .fa {
       font-size: 33px;
     }
   }
 }

 .dropdown-modal p {
   width: 90%;
   margin: 15px auto;
   text-align: left;
   .fa {
     margin-right: 20px;
     font-size: 1.7rem;
   }
 }


 #dropdown-list {
   color: $gray-medium-dark;
   font-size: 1.7rem;
 }


 #dropdown-list-Q {
   border-bottom: 1px solid $gray-border-light;
   margin-top: 30px;
   padding-bottom: 10px;
   a {
   font-size: 1.8rem;
   color: $gray-medium-dark;
 }
 }

 #dropdown-list-p {
   border-bottom: 1px solid $gray-border-light;
   padding-bottom: 10px;
   font-size: 1.3rem;
 }

 #dropdown-list-o {
   border-bottom: 1px solid $gray-border-light;
   padding-bottom: 10px;
   margin-top: 40px;
   font-size: 1.3rem;
 }



 .close-modal {
   text-align: right;
   i#close-modal {
   margin-right: 14px;
   margin-top: 27px;
 }
 &:hover {
   opacity: 0.8;
 }
}

 #close-modal:active {
   color: $gray-medium-dark;
 }


 // フッター(スマホ)======================

 footer {
   padding-top: 30px;
   padding-bottom: 30px;
   border-top: 1px solid #dcdcdc;
   color: #666666;
   background-color:#fff;
   bottom: 0;
   a {
     color: white;
     font-weight: 300;
   }

   a:hover {
     color: #222;
   }

   .footer-under {
     #footer-logo {
       text-align: left;
       margin-left: 7%;
     }
     .footer-under-smart {
       display: flex;
       margin-top: 20px;
       .footer-logo12 {
         display: flex;
         flex-direction: column;
         margin-left: 30px;
         margin-right: 40px;
         text-align: left;
       }
       p {
         margin-right: 20px;
       }
       p#footer-logo1 {
         margin-left: 0;
       }
       #footer-logo1 {
         margin-left: 7%;
       }
       #footer-logo3 a{
         color: $green-highlight;
       }
     }
   }
 }

// about(スマホ)=============================

.about-top-wrapper {
  padding-bottom: 35px;
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  padding-bottom: 50px;
  .about-top-title {
    margin-top: 50px;
    h1 {
      text-align: left;
      margin: 0px 0 0 30px;
      color: #fff;
      font-size: 5rem;
      font-weight: 600;
    }
    h2 {
      font-size: 1.5rem;
      color: #fff;
      margin: 10px auto;
      text-align: center;
    }
  }
  .about-top-list {
    .about-top-list1 {
      margin-top: 80px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
    .about-top-list2 {
      margin-top: 130px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
    .about-top-list3 {
      margin-top: 130px;
      text-align: center;
      .fa {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        font-size: 5rem;
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 1.5rem;
        color: #fff;
        width: 80%;
        margin: 10px auto;
      }
    }
 }
}

// メール送信後のパーシャル(スマホ)=======================

.mail-confirm-wrapper {
  margin: 40px 0 10px 0;
  padding-bottom: 35px;
  .mail-confirm-title {
    width: 90%;
    margin: 0 auto;
    h1 {
      color: $green-highlight;
      font-weight: 600;
      font-size: 2rem;
    }
    h2 {
      color: $green-highlight;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
    .mail-confirm-sub {
      width: 90%;
      margin: 40px auto;
      p {
      color: $gray-medium-dark;
      font-size: 1.3rem;
    }
  }
  .mail-confirm-resend {
    width: 90%;
    margin: 40px auto;
    p {
      color: $gray-medium-dark;
      font-size:  1.5rem;
    }
    #login-under-signup {
      color: $green-highlight;
      font-size: 1.4rem;
    }
  }
}
// メール送信(スマホ)=======================
.email-sent-main {
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: $gray-medium-dark;
    text-align: center;
    margin: 40px 0px 40px 0px;
  }
  .email {
    width: 250px;
    margin: 0 auto;
  }
    input#email-submit {
      margin: 30px auto;
      width: 250px;
      display: block;
    }
    p {
      color: $gray-medium-light;
      font-size: 14px;
      width: 300px;
      text-align: left;
      margin: 30px auto;
    }
    .fa {
      margin-right: 10px;
    }
  }

.link-info {
  margin-left: 40px;
  font-size: 13px;
  p {
    margin-top: 10px;
    color: $green-highlight;

  }
  .fa {
    margin-right: 10px;
  }
}

.link-info a:hover {
  border-bottom: 2px solid $green-highlight;
}

.inquiry-main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;
}

.inquiry-title h1 {
  margin-top: 40px;
  font-weight: 600;
  margin-left: 20px;
  color: $gray-medium-dark;
}

.name-inquiry, .email-inquiry, .text-inquiry {
  margin: 40px auto;
  width: 80%;
  #inquiry-form {
    width: 100%;
  }
  #inquiry-form1 {
    height: 200px;
    width: 100%;
  }
}

#inquiry-submit {
  width: 70%;
  margin-left: 60px;
}

.inquiry-confirm {
  padding-bottom: 35px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $green-highlight;
    text-align: center;
  }
  p {
    font-size: 15px;
    font-weight: 500;
    color: $gray-medium-dark;
    text-align: center;
  }
}

.after-mail-upper {
  margin-top: 50px;
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $green-highlight;
  }
  p {
    margin-top: 10px;
    color: $gray-medium-dark;
  }
  .after-mail-under {
    color: $gray-word;
  }
}

.setting {
  padding-bottom: 35px;
  .setting-title {
    text-align: center;
    h2 {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 600;
      color: $gray-medium-dark;
    }
  }

    .setting-list {
      border: 1px solid $gray-border-light;
      border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
      padding: 10px;
      padding-top: 20px;
      width: 270px;
      margin: 0 auto;
      p {
        margin-bottom: 20px;
        padding-bottom: 5px;
        color: $gray-medium-dark;
        border-bottom: 1px solid $gray-border-light;
      }
      .fa {
        margin-right: 10px;
      }
    }
  }
}

.picture {
  text-align: center;
  background: #56ab2f;
   background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);
   background: linear-gradient(to bottom, #a8e063, #56ab2f);
  h1 {
    font-weight: 600;
    font-size: 100px;
    margin: 80px;
    color: #fff;
    transform: rotate(-45deg);
    font-family: 'arial black';
  }
}

.error-message-log {
  text-align: center;
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

/*
.tennis {
  width: 650px;
  height: 650px;
  background: $green-logo-color;
  text-align: center;
  img {
    height: 300px;
    width: 650px;
    object-fit: cover;
  }
  p {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 100px;
    border-radius: 60%;
    background-color: #fff;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #fff;
    color: $green-logo-color;
    font-size: 5rem;
    font-weight: 600;
    transform: rotate(-45deg);
    font-family: 'Arial Black',sans-serif;
  }
  #tennis1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 50px;
    display: block;
    // display: flex;
    // align-items: baseline;
    // justify-content: flex-end;
  }
  #tennis2 {
    line-height: 1.9;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 50px;
    display: block;
    // display: flex;
    // align-items: baseline;
    // justify-content: flex-end;
  }
  #tennis3 {
    font-size: 2.5rem;
  }
  #tennis3 {
    font-size: 2.5rem;
  }
}

*/
