// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-medium-light: #919191;
$gray-medium-dark: #4c4c4c;
$gray-border-light: #cfcfcf;
$gray-word: #919191;
$green-logo-color: #9cd75b;
$pink-hightlight: #ff6666;
$pink-borderbottom: #ffd6d6;
$green-highlight: #5f9ea0;

.inbox-wrapper {
  margin-bottom: 100px;
}

// タブレット、PC用画面=====================================================
@media only screen and (min-width: 768px) {

// メッセージ(タブレット、PC用)==================================
.user-message-wrapper {
  display: flex;
  justify-content: space-around;
}
.user-message {
  margin-left: 100px;
  .user-show-post-main {
    width: 500px;
    border-right: 1px solid $gray-border-light;
    border-left: 1px solid $gray-border-light;
  }
  .user-message-count {
  border-bottom: 1px solid $gray-border-light;
  width: 500px;
  span {
    background-color: $pink-borderbottom;
    padding: 5px 10px 3px 10px;
    font-size: 1.4rem;
    .fa {
      margin-right: 10px;
      font-size: 1.6rem;
    }
  }
}
  .user-message-title {
    padding: 1em 1em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    width: 230px;
    margin: 70px auto;
    h1 {
      margin: 0;
      padding: 0;
      color: $gray-medium-dark;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      .fa {
        margin-right: 10px;
      }
    }
  }
  .user-show-post-picture {
    display: flex;
    flex-direction: column;
    img {
      margin-left: 33px;
    }
    span {
      text-align: center;
    }
  }
  .user-show-post-title {
    display: flex;
    margin-bottom: 10px;
    .fa {
      margin-right: 10px;
      font-size: 1.7rem;
    }
    span {
      margin: 20px 0 0 20px;
      color: $gray-medium-light;
    }
  }
  .user-message-post {
    margin: 0px 0 10px 0;
    span {
      margin-left: 120px;
      color: $gray-medium-light;
      font-size: 1.5rem;
    }
  }
  .user-show-post-title {
    margin: 0px;
  }
}

// room-under(タブレット、PC用)============================
.room-under {
  display: flex;
  justify-content: space-around;
}

// room-side(タブレット、PC用)=============================
.room-side-wrapper {
  margin-top: 50px;
  border-right: 1px solid #cfcfcf;
}

.room-side-title {
  h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #4c4c4c;
  }
  h2 {
    font-size: 20px;
  }
  h2, h3, p {
    margin-bottom: 5px;
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 20%;
  }
}

.room-side-image {
  text-align: center;
  margin-bottom: 80px;
}

.side-post-info {
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
  h3 {
    color: #b3b3b3;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  p {
    margin-bottom: 10px;
  }
.fa {
  margin-right: 15px;
 }
}

.side-post-title {
  margin-bottom: 20px;
p {
  font-size: 20px;
  font-weight: 600;
 }
}

.side-post-main {
  margin-left: 20px;
}

.side-detail-comment {
  p {
  display: inline-block;
  color: #b3b3b3;
 }
 h3 {
   font-size: 17px;
 }
}


// 共通room-comment(タブレット、PC用)======================
.room-post .find-main {
  border-bottom: 1px solid $gray-border-light;
  margin-right: 30px;
  margin-left: 30px;
}
.room-under {
  margin-top: 50px;
}

.room-show-main {
  padding: 20px 10px;
  margin: 0px 0px 20px 0px;
  font-size: 14px;
}

.room-comment-all {
  margin-bottom: 40px;
}

.room-comment-all {
  display: flex;
  flex-direction: row;
}

.room-comment-main1 .inbox-user-main img, .room-comment-main2 .inbox-user-main img,{
    width: 70px;
    height: 70px;
    border-radius: 60%;
}

.room-user-name {
  text-align: center;
}

.room-show-alert {
  position: relative;
  left: 23%;
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  display: inline-block;
  margin-bottom: 50px;
  h2 {
    font-size: 16px;
    font-weight: 600;
    color: $gray-medium-dark;
    .fa {
      margin-right: 10px;
    }
  }
   h3 {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    width: 400px;
    color: $gray-medium-light;
  }
}

// room-comment-main1(current_user側)(タブレット、PC用)=====================

.room-comment-main1 {
  width: 100%;
  overflow: hidden;
  margin: 20px 20px 0 0;
  .room-comment-all {
    float: right;
  }
}

.room-comment-main1 .room-user-name, .room-comment-main1 .room-user-picture {
  position: relative;
  left: 83%;
}

.room-comment-main1 .inbox-user-main {
  position: relative;
  right: 100%;
  margin-right: 20px;
}

.room-comment-main1 .room-comment {
  position: absolute;
  right: 35%;
}

.room-comment-main1 .room-comment-body {
  position: relative;
  left: 30%;
  padding: 20px;
  width: 200px;
  max-width: 250px;
  height: 120px;
  border-radius: 5px 0px 5px 5px / 5px 0px 5px 5px;
  border: 1px solid #cfcfcf;
  background: #fff;
  p {
    text-align: left;
  }
}


.room-comment-main1 .room-comment-body:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -50px;
  top: -1px;
  border-left: 25px solid #cfcfcf;
  border-top: 25px solid #cfcfcf;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
}

.room-comment-main1 .room-comment-body:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -48px;
  top: 0px;
  border-left: 25px solid #fff;
  border-top: 25px solid #fff;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
}


// room-comment-main2(other_user側)(タブレットPC用)=========================

.room-comment-main2 {
  width: 100%;
  margin: 20px 20px 0 0;
  overflow: hidden;
}

.room-comment-main2 .inbox-user-main {
 position: relative;
 left: 7%;
}

.room-comment-main2 .room-comment {
  position: absolute;
  left: 20%;
}


.room-comment-main2 .room-comment-body {
    position: relative;
    left: 20%;
    padding: 20px;
    max-width: 300px;
    width: 200px;
    height: 120px;
    border-radius: 0px 5px 5px 5px / 0px 5px 5px 5px;
    border: 1px solid #cfcfcf;
    background: #fff;
}

.room-comment-main2 .room-comment-body:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -50px;
  top: -1px;
  border-right: 25px solid #cfcfcf;
  border-top: 25px solid #cfcfcf;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
}

.room-comment-main2 .room-comment-body:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -48px;
  top: 0px;
  border-right: 25px solid #fff;
  border-top: 25px solid #fff;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
}

// comment-form(タブレット、PC用)=========================
.room-comment-box {
  margin-top: 40px;
  border-top: 1px solid #cfcfcf;
}

.comment-form-main {
  text-align: center;
}

textarea#comment-text {
  border-color: #cfcfcf;
  margin-top: 30px;
  height: 110px;
  width: 450px;
}

#comment-label {
  margin-top: 20px;
}

.actions {
  float: right;
  margin: 40px 0 0 70px;
  input {
    background-color: $green-logo-color;
    border: none;
    font-weight: 600;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px $green-logo-color;
  }
 }

 .actions {
   input:active {
     box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
     border-bottom: none;
   }
  }

 .room-destroy {
   padding: 15px 0 15px 0;
   vertical-align: middle;
   border-top: 1px solid $gray-border-light;
   border-bottom: 1px solid $gray-border-light;
   p {
     margin: 0 auto;
     width: 240px;
     text-align: center;
     color: #ea5550;
     font-weight: 600;
     margin-bottom: 0px;
   }
   .fa {
     margin-right: 10px;
   }
 }
 .room-report {
   padding: 10px 0 10px 0;
   margin-top: 80px;
   vertical-align: middle;
   border-top: 1px solid $gray-border-light;
   p {
     margin: 0 auto;
     width: 240px;
     text-align: center;
     color: #ea5550;
     font-weight: 600;
     margin-bottom: 0px;
   }
   .fa {
     margin-right: 10px;
   }
 }

 .report-wrapper {
   display: none;
   width: 90%;
   margin: 0 auto;
   .report-title {
     width: 300px;
     margin: 40px auto;
   }
   h2 {
     text-align: center;
     font-weight: 600;
     color: $gray-medium-dark;
     font-size: 16px;
     margin: 20px 0 20px 0;
   }
   .report-content {
     width: 90%;
     margin: 20px auto;
   }
   .report-radio {
     display: flex;
   }
   h3 {
     margin-top: 13px;
     margin-left: 10px;
     font-size: 14px;
   }
   h4 {
     margin: 20px 0 5px 0;
     color: $gray-medium-dark;
     font-size: 14px;
     font-weight: 300;
   }
  textarea {
    width: 300px;
    margin: 0 auto;
  }
 }

 .report-close {
   text-align: right;
   margin-bottom: 40px;
   span {
     width: 40px;
     border: 1px solid $gray-medium-dark;
     color: $gray-medium-dark;
     font-size: 13px;
     border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
     padding: 5px 10px 5px 10px;
   }
 }
 #report-submit {
   margin-top: 40px;
   background-color: #ea5550;
   color: #fff;
   padding: 5px 12px 5px 12px;
 }
}

// スマホ用画面=================================================================

@media only screen and (max-width: 767px) {

.user-message {
  .user-message-count {
  border-bottom: 1px solid $gray-border-light;
  span {
    background-color: $pink-borderbottom;
    padding: 5px 10px 2px 10px;
    font-size: 1.4rem;
    .fa {
      margin-right: 10px;
      font-size: 1.6rem;
    }
  }
}
  .user-message-title {
    padding: 1em 1em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    width: 230px;
    margin: 70px auto;
    h1 {
      margin: 0;
      padding: 0;
      color: $gray-medium-dark;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      .fa {
        margin-right: 10px;
      }
    }
  }
  .user-show-post-picture {
    display: flex;
    flex-direction: column;
    img {
      margin-left: 22px;
    }
    span {
      text-align: center;

    }
  }
  .user-show-post-title {
    margin-bottom: 10px;
    display: flex;
    span {
      margin: 20px 0 0 20px;
      color: $gray-medium-light;
    }
    .fa {
      margin-right: 10px;
      font-size: 1.7rem;
    }
  }
  .user-message-post {
    margin: 0px 0 10px 0;
    span {
      margin-left: 80px;
      color: $gray-medium-light;
      font-size: 1.5rem;
    }
  }
  .user-show-post-title {
    margin: 0px;
  }
  .user-no-message {
    width: 300px;
    margin: 0 auto;
    h2 {
    color: $gray-medium-dark;
    font-weight: 600;
    font-size: 1.8rem;
    .fa {
      .margin-right: 10px;
    }
  }
  }
}


// inbox-side(スマホ用)==================================


// room-under(スマホ用)============================
.room-under {
  display: flex;
  justify-content: space-around;
}

// room-side(スマホ用)=============================
.room-side-wrapper {
  margin-top: 50px;
  border-right: 1px solid #cfcfcf;
}

.room-side-title {
  h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #4c4c4c;
  }
  h2 {
    font-size: 20px;
  }
  h2, h3, p {
    margin-bottom: 5px;
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 20%;
  }
}

.room-side-image {
  text-align: center;
  margin-bottom: 80px;
}

.side-post-info {
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 20px;
  h3 {
    color: #b3b3b3;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  p {
    margin-bottom: 10px;
  }
.fa {
  margin-right: 15px;
 }
}

.side-post-title {
  margin-bottom: 20px;
p {
  font-size: 20px;
  font-weight: 600;
 }
}

.side-post-main {
  margin-left: 20px;
}

.side-detail-comment {
  p {
  display: inline-block;
  color: #b3b3b3;
 }
 h3 {
   font-size: 17px;
 }
}


// 共通room-comment(スマホ用)======================
.room-post .find-main {
  border-bottom: 1px solid $gray-border-light;
}
.room-under {
  margin-top: 50px;
}

.room-show-main {
  font-size: 14px;
}

.room-comment-all {
  margin-bottom: 40px;
}

.room-comment-all {
  display: flex;
  flex-direction: row;
}

.room-comment-main1 .inbox-user-main img, .room-comment-main2 .inbox-user-main img,{
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.room-user-name {
  text-align: center;
  strong {
    font-size: 13px;
    font-weight: 500;
    color: $gray-word;
  }
}

.room-show-alert {
  position: relative;
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  display: inline-block;
  margin-bottom: 50px;
  h2 {
    font-size: 16px;
    font-weight: 600;
    color: $gray-medium-dark;
    .fa {
      margin-right: 10px;
    }
  }
   h3 {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    width: 90%;
    color: $gray-medium-light;
  }
}

// room-comment-main1(current_user側)(スマホ用)=====================

.room-comment-main1 {
  width: 100%;
  overflow: hidden;
  margin: 40px 20px 60px 0;
  .room-comment-all {
    float: right;
  }
}

.room-comment-main1 .room-user-name, .room-comment-main1 .room-user-picture {
  position: relative;
  right: -120%;
}

.room-comment-main1 .inbox-user-main {
  position: relative;
  right: 100%;
  margin-right: 7px;
}

.room-comment-main1 .room-comment {
  position: absolute;
  right: 35%;
}

.room-comment-main1 .room-comment-body {
  position: relative;
  left: -20%;
  padding: 10px;
  width: 160px;
  height: 120px;
  border-radius: 5px 0px 5px 5px / 5px 0px 5px 5px;
  border: 1px solid #cfcfcf;
  background: #fff;
  p {
    text-align: left;
    font-size: 1.2rem;
  }
}


.room-comment-main1 .room-comment-body:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -50px;
  top: -1px;
  border-left: 25px solid #cfcfcf;
  border-top: 25px solid #cfcfcf;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
}

.room-comment-main1 .room-comment-body:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -48px;
  top: 0px;
  border-left: 25px solid #fff;
  border-top: 25px solid #fff;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
}


// room-comment-main2(other_user側)(スマホ用)=========================

.room-comment-main2 {
  width: 100%;
  margin: 40px 40px 40px 0;
  overflow: hidden;
}

.room-comment-main2 .inbox-user-main {
 position: relative;
 left: 2%;
}

.room-comment-main2 .room-comment {
  position: absolute;
  left: 20%;
}


.room-comment-main2 .room-comment-body {
    position: relative;
    left: 45%;
    padding: 10px;
    width: 160px;
    height: 120px;
    border-radius: 0px 5px 5px 5px / 0px 5px 5px 5px;
    border: 1px solid #cfcfcf;
    background: #fff;
    p {
      font-size: 1.2rem;
    }
}

.room-comment-main2 .room-comment-body:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -50px;
  top: -1px;
  border-right: 25px solid #cfcfcf;
  border-top: 25px solid #cfcfcf;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
}

.room-comment-main2 .room-comment-body:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -48px;
  top: 0px;
  border-right: 25px solid #fff;
  border-top: 25px solid #fff;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
}

// comment-form(スマホ用)=========================
.room-comment-box {
  margin-top: 60px;
  border-top: 1px solid #cfcfcf;
}

.comment-form-main {
  text-align: center;
}

textarea#comment-text {
  border-color: #cfcfcf;
  padding: 10px;
  margin-top: 30px;
  height: 110px;
  width: 90%;
}

#comment-label {
  margin-top: 20px;
}

.actions {
  float: right;
  margin: 40px 0 0 70px;
  input {
    background-color: $green-logo-color;
    border: none;
    font-weight: 600;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px $green-logo-color;
  }
 }
 .actions {
   input:active {
     box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
     border-bottom: none;
   }
  }

 .room-destroy {
   padding: 10px 0 10px 0;
   vertical-align: middle;
   border-top: 1px solid $gray-border-light;
   border-bottom: 1px solid $gray-border-light;
   p {
     margin: 0 auto;
     width: 240px;
     text-align: center;
     color: #ea5550;
     font-weight: 600;
     margin-bottom: 0px;
   }
   .fa {
     margin-right: 10px;
   }
 }

 .room-report {
   padding: 10px 0 10px 0;
   margin-top: 50px;
   vertical-align: middle;
   border-top: 1px solid $gray-border-light;
   p {
     margin: 0 auto;
     width: 240px;
     text-align: center;
     color: #ea5550;
     font-weight: 600;
     margin-bottom: 0px;
   }
   .fa {
     margin-right: 10px;
   }
 }

 .report-wrapper {
   display: none;
   width: 90%;
   margin: 0 auto;
   .report-title {
     width: 300px;
     margin: 40px auto;
   }
   h2 {
     text-align: center;
     font-weight: 600;
     color: $gray-medium-dark;
     font-size: 16px;
     margin: 20px 0 20px 0;
   }
   .report-content {
     width: 90%;
     margin: 20px auto;
   }
   .report-radio {
     display: flex;
   }
   h3 {
     margin-top: 13px;
     margin-left: 10px;
     font-size: 14px;
   }
   h4 {
     margin: 20px 0 5px 0;
     color: $gray-medium-dark;
     font-size: 14px;
     font-weight: 300;
   }
  textarea {
    width: 300px;
    margin: 0 auto;
  }
 }

 .report-close {
   text-align: right;
   margin-bottom: 40px;
   span {
     width: 40px;
     border: 1px solid $gray-medium-dark;
     color: $gray-medium-dark;
     font-size: 13px;
     border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
     padding: 5px 10px 5px 10px;
   }
 }
 #report-submit {
   margin-top: 40px;
   background-color: #ea5550;
   color: #fff;
   padding: 5px 12px 5px 12px;
 }
}
