$pc: 1023px;
$tab: 768px;
$ip5s: 320px;
$ip7: 374px;

@mixin mediaMinPC {
  @media screen and (min-width: $pc) {

  }
}

@mixin mediaPC {
  @media screen and (min-width: $tab) {
    @content;
  }
}

@mixin mediaSP {
  @media screen and (max-width: $tab) {
    @content;
  }
}

@mixin mediaIpad {
  @media (min-width: $tab) and (max-width: ($pc)) {
    @content;
  }
}

@mixin mediaIphone5 {
  @media (min-width: $ip5s) and (max-width: ($ip7)) {
    @content;
  }
}


@mixin mediaaTab {
  @media screen and (min-width: $tab) {

  }
}
