// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
@import 'mixin';

// タブレット,PC用=========================================================

@media only screen and (min-width: 768px) {
  /* signup ========================== */
  .signup-title {
      position: absolute;
      left: 15%;
      margin-top: 40px;

      h1 {
          font-size: 50px;
      }
      h2 {
          margin-left: 80px;
          margin-top: 40px;
          font-size: 25px;
          border-bottom: 1px solid #cccccc;
          width: 1000px;
      }
  }

  .signup-form {
      left: 100%;
      width: 600px;
      height: 550px;
      margin-top: 200px;
      padding: 10px 0 30px;
      text-align: center;

      .form-control {
          margin-bottom: 30px;
      }

      #form-control {
          margin-bottom: 30px;
      }

      #sign-submit {
          margin-top: 30px;
      }
  }

  .link-info p {
    width: 300px;
  }

  // show(タブレット、PC用)================================

  .wrapper-user {
    display: flex;
    background-color: #fff;
    .user-post .find-main {
      display: flex;
      flex-direction: column;
    }
    .find-post {
      width: 80%;
      margin-left: 3px;
      margin: 40px auto;
    }
  }

@media screen and (max-width: 1023px) {
  .user-show-upper {
    margin-top: 40px;
    img {
      width: 80%;
      height: 150px;
      border-radius: 3%;
      display: block;
      margin: 0 auto;
    }
   }
   .find-post1 {
     width: 90%;
     margin: 0 auto;
   }
 }
 @media screen and (min-width: 1024px) {
   .user-show-upper {
     margin-top: 40px;
     img {
       width: 70%;
       height: 230px;
       border-radius: 3%;
       display: block;
       margin: 0 auto;
     }
    }
  }
     .user-info {
      width: 40%;
     }
     .user-show-right {
       width: 70%;
     }

     .user-show-name {
       display: flex;
       justify-content: space-between;
       h2 {
         margin-left: 7%;
         display: inline-block;
         font-size: 2.5rem;
         font-weight: 600;
         margin-bottom: 7px;
         color: $gray-medium-dark;
      }
      span {
        display: flex;
        align-items: center;
        .fa {
          margin-right: 20px;
          font-size: 2rem;
          color: $gray-medium-light;
          border-radius: 60%;
          padding: 10px;
          &:active {
            background: #efffef;
          }
         }
       }
     }

     .user-show-menu-wrap {
       display: none;
       .user-show-right-upper {
         padding: 5px 12px 5px 12px;
         background-color: #fff;
         .upper-user-recieved {
           border-bottom: 1px dotted $gray-border-light;
           h2 {
             font-size: 13px;
           }
         }
         .upper-user-edit {
           border-bottom: 1px dotted $gray-border-light;
           h2 {
             font-size: 13px;
           }
         }
         .upper-user-like {
           h2 {
             font-size: 13px;
           }
         }
         .fa {
           margin: 0 10px 0 20px;
           font-size: 1.7rem;
         }
       }
     }


     .user-show-under {
       h2 {
         margin-left: 10%;
         margin-bottom: 20px;
         font-size: 18px;
         font-weight: 600;
         color: $gray-medium-dark;
       }
       .user-show-under-info {
         border: 1px solid $gray-border-light;
         border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
         height: auto;
         margin: 20px auto;
         padding: 12px;
         width: 90%;
         box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
         h3 {
           margin-left: 5%;
           margin-top: 0px;
           font-size: 13px;
           display: block;
           color: $gray-word;
         }
         label {
           margin-right: 10px;
           color: $gray-medium-dark;
           width: 55px;
         }
         .user-intro {
           padding-top: 12px;
           letter-spacing: 1px;
           line-height: 1.6em;
           border-top: 1px solid $gray-border-light;
         }
       }
     }
     .user-show-right-tag {
       margin-top: 30px;
       text-align: center;
       padding: 20px 0 0px 0;
       h3 {
         font-size: 2rem;
         color: $gray-medium-light;
         font-weight: 600;
         margin: 0px;
       }
     }

     .user-post {
       text-align: center;
       h2 {
       font-size: 18px;
       font-weight: 600;
       margin-top: 60px;
       color: $gray-medium-dark;
        .fa {
          margin-right: 10px;
          font-size: 18px;
        }
       }
    }

    .user-post-label {
      display: flex;
      width: 90%;
      margin-top: 40px;
      margin-left: 20px;
      border-bottom: 1px solid $gray-border-light;
      .user-post-count {
        text-align: center;
        padding: 10px 15px 0 15px;
        width: 150px;
        border-bottom: 4px solid $green-logo-color;
        cursor: pointer;
        p {
          color: $green-logo-color;
          font-size: 1.5rem;
          margin-bottom: 5px;
          font-weight: 500;
        }
      }
      .user-post-recrut {
        text-align: center;
        border-bottom: none;
        padding: 10px 15px 0 15px;
        width: 150px;
        cursor: pointer;
      p {
        color: $gray-medium-light;
        margin-bottom: 5px;
        font-weight: 500;
      }
     }
    }

     .user-show-post-main {
       padding: 13px 0 5px 0;
       border-bottom: 1px solid $gray-border-light;
       border-left: 1px solid $gray-border-light;
       border-right: 1px solid $gray-border-light;
       .user-show-post-flex {
         display: flex;
         margin-bottom: 10px;
       }
       .user-show-post-picture {
         width: 20%;
         img {
           margin-top: 10px;
           width: 30px;
           height: 30px;
           border-radius: 60%;
           object-fit: cover;
         }
       }
       .user-show-post-title {
         width: 80%;
         h2 {
           color: $green-highlight;
           text-align: left;
           margin-top: 10px;
           color: $gray-medium-dark;
         }
       }
       .user-show-post-under-wrapper {
         display: flex;
         justify-content: flex-end;
         .user-show-post-under-info {
           display: flex;
           span {
             padding-top: 2px;
             font-size: 1.2rem;
             margin-right: 15px;
             color: $gray-medium-dark;
             background-color:#dfdfdf;
             padding: 0px 5px 0px 5px;
             border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
             .fa {
               margin-right: 10px;
             }
           }
           #user-show-post-under-info-tag {
             padding-top: 2px;
             background-color: $pink-hightlight;
             color: #fff;
           }
           #user-show-post-under-info-tag2 {
             padding-top: 2px;
             background-color: $pink-borderbottom;
             color: #fff;
           }
         }
       }
       .user-show-post-under {
         text-align: right;
         margin-right: 10px;
         span {
           color: $gray-medium-dark;
           margin-left: 23px;
         }
       }
     }

     .user-post-show-1, .user-post-show-2 {
       margin-left: 20px;
       width: 90%;
     }
     .non-post-user {
       .non-post-img {
         img {
           width: 60%;
           height: 200px;
           object-fit: cover;
           margin: 20px auto;
           border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
         }
       }
       .non-post-button-wrap {
         p {
           width: 90%;
           margin: 20px auto;
           color: $gray-medium-dark;
           font-weight: bold;
           font-size: 1.6rem;
         }
         .non-post-button {
           text-align: center;
           margin: 20px auto;
           margin-top: 30px;
           font-size: 1.7rem;
           color: #fff;
           font-weight: bold;
           @include button(150px, $green-logo-color, 10px 15px 10px 15px);
         }
       }
     }
}

// スマホ用画面================================================================

@media screen and (max-width: 767px) {
  /* signup ========================== */
  .signup-title {
      position: absolute;
      left: 15%;
      margin-top: 40px;

      h1 {
          font-size: 50px;
      }
      h2 {
          margin-left: 80px;
          margin-top: 40px;
          font-size: 25px;
          border-bottom: 1px solid #cccccc;
          width: 1000px;
      }
  }

  .signup-form {
      left: 100%;
      width: 600px;
      height: 550px;
      margin-top: 200px;
      padding: 10px 0 30px;
      text-align: center;

      .form-control {
          margin-bottom: 30px;
      }

      #form-control {
          margin-bottom: 30px;
      }

      #sign-submit {
          margin-top: 30px;

      }
  }

  // show(スマホ)====================================

  .wrapper-user {
    background-color: #f7f7f7;
    padding-bottom: 35px;
    .user-info {
      background-color: #fff;
    }
  }

  .user-show-upper {
     text-align: center;
     padding-top: 40px;
   img {
     width: 210px;
     height: 210px;
     border-radius: 60%;
     object-fit: cover;
     margin: 0 auto;
     }
   }

   .user-show-name {
     display: flex;
     justify-content: space-between;
     h2 {
       margin-left: 7%;
       display: inline-block;
       font-size: 2.5rem;
       font-weight: 600;
       margin-bottom: 7px;
       color: $gray-medium-dark;
    }
    span {
      display: flex;
      align-items: center;
      .fa {
        margin-right: 20px;
        font-size: 2rem;
        color: $gray-medium-light;
        border-radius: 60%;
        padding: 15px;
        &:active {
          background: #efffef;
        }
       }
     }
   }

   .user-show-menu-wrap {
     display: none;
     .user-show-right-upper {
       padding: 5px 12px 5px 12px;
       background-color: #fff;
       .upper-user-recieved {
         border-bottom: 1px dotted $gray-border-light;
         h2 {
           font-size: 13px;
         }
       }
       .upper-user-edit {
         border-bottom: 1px dotted $gray-border-light;
         h2 {
           font-size: 13px;
         }
       }
       .upper-user-like {
         h2 {
           font-size: 13px;
         }
       }
       .fa {
         margin: 0 10px 0 20px;
         font-size: 1.7rem;
       }
     }
   }

   .user-memu-toggle {
     display: block;
   }

     .user-show-under {
       .user-show-under-info {
         border-top: 1px solid $gray-border-light;
         height: auto;
         margin: 0 auto;
         padding: 12px;
         width: 100%;
         h3 {
           margin-left: 5%;
           margin-top: 0px;
           font-size: 1.4rem;
           display: block;
           color: $gray-word;
         }
         label {
           margin-right: 10px;
           color: $gray-medium-dark;
           width: 70px;
         }
         .user-intro {
           padding-top: 12px;
           letter-spacing: 1px;
           line-height: 1.6em;
           border-top: 1px dotted $gray-border-light;
          p {
            margin: 0 auto;
            width: 90%;
          }
         }
       }
     }

     .user-show-right {
       margin-bottom: 40px;
     }

     .user-show-right-tag {
       margin-top: 30px;
       text-align: left;
       border-top: 1px solid $gray-border-light;
       border-bottom: 1px solid $gray-border-light;
       padding: 10px 0 10px 0;
       background-color: #fff;
       h3 {
         font-size: 1.6rem;
         color: $gray-medium-light;
         font-weight: 600;
         margin: 0px;
         margin-left: 30px;
       }
     }

     .user-post {
       margin-top: 50px;
       text-align: center;
       h2 {
       font-size: 18px;
       font-weight: 600;
       margin-top: 60px;
       color: $gray-medium-dark;
        .fa {
          margin-right: 10px;
          font-size: 18px;
        }
       }
    }

    .user-post-label {
      display: flex;
      margin: 0 auto;
      margin-top: 40px;
      border-bottom: 1px solid $gray-border-light;
      background-color: #fff;
      .user-post-count {
        text-align: center;
        padding: 10px 15px 0 15px;
        width: 120px;
        border-bottom: 4px solid $green-logo-color;
        cursor: pointer;
        p {
          color: $green-logo-color;
          font-size: 1.5rem;
          margin-bottom: 5px;
          font-weight: 500;
        }
      }
      .user-post-recrut {
        text-align: center;
        border-bottom: none;
        padding: 10px 15px 0 15px;
        width: 120px;
        cursor: pointer;
      p {
        color: $gray-medium-light;
        margin-bottom: 5px;
        font-weight: 500;
      }
     }
    }

    .user-post-show-2 {
      display: none;
    }

    .user-show-post-main {
      padding: 13px 0 5px 0;
      border-bottom: 1px solid $gray-border-light;
      background-color: #fff;
      .user-show-post-flex {
        display: flex;
        margin-bottom: 10px;
      }
      .user-show-post-picture {
        width: 20%;
        img {
          margin-top: 10px;
          width: 30px;
          height: 30px;
          border-radius: 60%;
          object-fit: cover;
        }
      }
      .user-show-post-title {
        width: 80%;
        h2 {
          color: $green-highlight;
          text-align: left;
          margin-top: 10px;
          color: $gray-medium-dark;
        }
      }
      .user-show-post-under-wrapper {
        display: flex;
        justify-content: flex-end;
        .user-show-post-under-info {
          display: flex;
          span {
            padding-top: 2px;
            font-size: 1.2rem;
            margin-right: 15px;
            color: $gray-medium-dark;
            background-color:#dfdfdf;
            padding: 0px 5px 0px 5px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            .fa {
              margin-right: 10px;
            }
          }
          #user-show-post-under-info-tag {
            padding-top: 2px;
            background-color: $pink-hightlight;
            color: #fff;
          }
          #user-show-post-under-info-tag2 {
            padding-top: 2px;
            background-color: $pink-borderbottom;
            color: #fff;
          }
        }
      }
      .user-show-post-under {
        text-align: right;
        margin-right: 10px;
        span {
          color: $gray-medium-dark;
          margin-left: 23px;
        }
      }
    }

    .non-post-user {
      margin-top: 30px;
      .non-post-img {
        img {
          width: 90%;
          height: 200px;
          object-fit: cover;
          margin: 20px auto;
          border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
        }
      }
      .non-post-button-wrap {
        p {
          width: 90%;
          margin: 20px auto;
          color: $gray-medium-dark;
          font-weight: bold;
          font-size: 1.6rem;
        }
        .non-post-button {
          text-align: center;
          margin: 20px auto;
          margin-top: 30px;
          font-size: 1.7rem;
          color: #fff;
          font-weight: bold;
          @include button(150px, $green-logo-color, 10px 15px 10px 15px);
        }
      }
    }
 // like(スマホ)================================

 .like-wrapper {
   margin-top: 40px;
   h2 {
     text-align: center;
     font-size: 18px;
     font-weight: 600;
     margin-top: 60px;
     color: $gray-medium-dark;
     width: 200px;
     margin: 30px auto;
   }
   .fa {
     margin-right: 10px;
     color: #e2041b;
   }
 }

}

.help-block {
  display: none;
}
