<p>いつもご利用ありがとうございます</p>

<p>パスワードの再設定は<%= link_to 'こちらから', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>上記のリンクをクリックしていただき、新しいパスワードを入力することで新しいパスワードが再設定されます。</p>

<p>もしこちらのメールに心当たりがない場合は無視してください。</p>
