<footer class="nav navbar-bottom">
  <small>
    Playcal by koki
  </small>
  <nav>
    <ul>
      <li><%= link_to "Playcalとは",   about_path %></li>
      <li><%= link_to "お問い合わせ", root_path %></li>
      <li><a href="https://twitter.com/nkok1995">Twitter</a></li>
    </ul>
  </nav>
</footer>
