<% if current_user.notifications.where(read: false).order('created_at DESC').blank? %>
<div class="notifications-list">
  <div class="notification-list-modal">
    <div class="close-modal3">
     <i class="fa fa-times" id="close-modal3"></i>
    </div>
    <div class="notification-non">
      <h2><i class="fa fa-bell-o"></i>通知はありません</h2>
    </div>

    </div>
  </div>
  <% end %>

<% if current_user.notifications.where(read: true).order('created_at DESC').present? %>
<div class="notifications-list">
  <div class="notification-list-modal2">
    <div class="close-modal3">
     <i class="fa fa-times" id="close-modal3"></i>
    </div>
    <h2><i class="fa fa-bell-o"></i>通知</h2>
    <div class="notification-present">
      <%= render current_user.notifications.where(read: true).order('created_at DESC').last(5) %>
    </div>
    </div>
  </div>
  <% end %>
