<div class="mail-confirm-wrapper">
  <div class="mail-confirm-title">
    <h1>プロフィールの編集が完了しました</h1>
  </div>
  <div class="mail-confirm-resend">
    <p id="mail-confirm-resend-list"><%= link_to "プロフィールへ戻る", user_path(current_user), id: "login-under-signup" %></p>
  </div>
</div>
